// COLORS

$peru-hex: #d87d4a;
$peru-rgb: rgb(216, 125, 74);
$peru-hsl: hsl(22, 65%, 57%);

$chinese-black-hex: #101010;
$chinese-black-rgb: rgb(0, 0, 6);
$chinese-black-hsl: hsl(16, 16%, 16%);

$flash-white-hex:#f1f1f1;
$flash-white-rgb: rgb(241, 241, 241);
$flash-white-hsl: hsl(0, 0%, 95%);

$ivory-hex: #fafafa;
$ivory-rgb: rgb(250, 250, 250);
$ivory-hsl: hsl(0, 0%, 98%);

$tangelo-hex: #fbaf85;
$tangelo-rgb: rgb(251, 175, 133);
$tangelo-hsl: hsl(21, 94%, 75%);

$white-hex: #ffffff;
$white-rgb: rgb(255,255,255);
$white-hsl: hsl(0,0%, 100%);

$black-hex: #000000;
$black-rgb: rgb(0,0,0);
$black-hsl: hsl(0, 0%, 0%);

$silver-hex: #cfcfcf;
$gray-hex: #979797;
$light-gray-hex: #eaeaea;